html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "helvetica neue Lucida Console serif  sans-seri";
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: 	#ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #a683e3;
  text-align: center;
}

.item {
  min-height: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}



.item:last-child {
  border-bottom: 0.5;
}


input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
  opacity: 0.8;
}

input[type="checkbox"] {
  margin: 20px;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 25px;
  font-weight: 200;
  color: #00204b;
}

form {
  text-align: center;
  margin-left: 20px;
}



button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #7c5db1;
  color: #fff;
  font-size: 35px;
  padding: 6px;
  border-width: 0;
}



input[type="text"] {
  text-align: center;
  border-bottom: 2px solid #a683e3;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 300;
  width: 313px;
}



input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}



::placeholder {
  color: #808080;
  opacity: 0.9;
}



footer {
  color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
